div.mxRubberband {
  visibility: visible;
  position: absolute;
  z-index: 9999;
  border-style: solid;
  border-width: 1px;
  border-color: #0000FF;
  background: #0077FF;
}

img.mxToolbarMode {
  cursor: pointer;
  margin: 2px;
}

img.mxToolbarModeSelected {
  cursor: pointer;
  margin: 2px;
}
